
<h1>Credentials</h1>

<span>RAILS_ENV==<%= ENV['RAILS_ENV'] %></span>

<h2>Rails.application.credentials</h2>
<%= ap(@credentials, {html: true}).html_safe %>


<h2>File Contents</h2>
<ul>
<%- @credential_file_contents.each do |credential_file_name, file_contents| %>
  <li>
    <strong><%= credential_file_name %>:</strong>
    <div>
      <pre><code class="language-yaml">
<%= render plain: file_contents %>
      </code></pre>
    </div>
  </li>
<%- end %>
</ul>
